openapi: 3.0.0
info:
  title: Authorizations
  version: 1.2.1
  description: Provides the ability to view and manage client authorizations
paths:
  /authorizations:
    get:
      tags:
        - authorizations
      parameters:
        - $ref: "#/components/parameters/client_id"
        - $ref: "#/components/parameters/start_date"
        - $ref: "#/components/parameters/end_date"
        - name: sort_by
          in: query
          description: Field on which to sort (start_date, end_date, authorization_number,
            services, date_range, is_over_utilized)
          schema:
            type: string
            default: start_date
        - $ref: "#/components/parameters/sort_order"
      summary: Get a collection of client Authorizations
      responses:
        "200":
          description: A list of client authorizations
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AuthorizationList"
        "401":
          $ref: "#/components/responses/ErrorResponseAuthentication"
        "403":
          $ref: "#/components/responses/ErrorResponseAccessDenied"
    post:
      tags:
        - authorizations
      parameters:
        - $ref: "#/components/parameters/client_id"
        - $ref: "#/components/parameters/start_date"
        - $ref: "#/components/parameters/end_date"
        - $ref: "#/components/parameters/authorization_number"
        - $ref: "#/components/parameters/service_ids"
        - $ref: "#/components/parameters/billcode_ids"
        - $ref: "#/components/parameters/payor_id"
        - $ref: "#/components/parameters/payor_id_type"
        - $ref: "#/components/parameters/member_number"
        - $ref: "#/components/parameters/program_id"
        - $ref: "#/components/parameters/case_manager_name"
        - $ref: "#/components/parameters/case_manager_phone"
        - $ref: "#/components/parameters/case_manager_fax"
        - $ref: "#/components/parameters/case_manager_email"
        - $ref: "#/components/parameters/notes"
        - $ref: "#/components/parameters/rule_type"
        - $ref: "#/components/parameters/rule_daily"
        - $ref: "#/components/parameters/rule_weekly"
        - $ref: "#/components/parameters/rule_monthly"
        - $ref: "#/components/parameters/rule_period"
        - $ref: "#/components/parameters/rule_monday"
        - $ref: "#/components/parameters/rule_tuesday"
        - $ref: "#/components/parameters/rule_wednesday"
        - $ref: "#/components/parameters/rule_thursday"
        - $ref: "#/components/parameters/rule_friday"
        - $ref: "#/components/parameters/rule_saturday"
        - $ref: "#/components/parameters/rule_sunday"
        - $ref: "#/components/parameters/methodology"
        - $ref: "#/components/parameters/state_type_id"
        - $ref: "#/components/parameters/first_day_of_week"
        - $ref: "#/components/parameters/is_code_42"
      summary: Add a new client authorization
      responses:
        "200":
          description: New client authorization added
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Authorization"
        "401":
          $ref: "#/components/responses/ErrorResponseAuthentication"
        "403":
          $ref: "#/components/responses/ErrorResponseAccessDenied"
        "409":
          $ref: "#/components/responses/ConflictAuthorizations"
  "/authorizations/{id}":
    get:
      tags:
        - authorizations
      parameters:
        - $ref: "#/components/parameters/id"
      summary: Get a client authorization
      responses:
        "200":
          description: Client authorization updated
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Authorization"
        "401":
          $ref: "#/components/responses/ErrorResponseAuthentication"
        "403":
          $ref: "#/components/responses/ErrorResponseAccessDenied"
        "404":
          $ref: "#/components/responses/NotFoundAuthorization"
    put:
      tags:
        - authorizations
      parameters:
        - $ref: "#/components/parameters/id"
        - $ref: "#/components/parameters/start_date"
        - $ref: "#/components/parameters/end_date"
        - $ref: "#/components/parameters/authorization_number"
        - $ref: "#/components/parameters/member_number"
        - $ref: "#/components/parameters/program_id"
        - $ref: "#/components/parameters/case_manager_name"
        - $ref: "#/components/parameters/case_manager_phone"
        - $ref: "#/components/parameters/case_manager_fax"
        - $ref: "#/components/parameters/case_manager_email"
        - $ref: "#/components/parameters/notes"
        - $ref: "#/components/parameters/state_type_id"
      summary: Update a client authorization
      responses:
        "200":
          description: Client authorization updated
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Authorization"
        "401":
          $ref: "#/components/responses/ErrorResponseAuthentication"
        "403":
          $ref: "#/components/responses/ErrorResponseAccessDenied"
        "404":
          $ref: "#/components/responses/NotFoundAuthorization"
        "409":
          $ref: "#/components/responses/ConflictAuthorizations"
    delete:
      tags:
        - authorizations
      summary: Delete an existing client authorization
      parameters:
        - $ref: "#/components/parameters/id"
      responses:
        "204":
          description: Client authorization deleted Successfully
        "404":
          $ref: "#/components/responses/NotFoundAuthorization"


servers:
  - url: https://homecare.alayacare.com/api/v1/scheduler
components:
  parameters:
    item_id:
      name: item_id
      description: Item id
      in: path
      required: true
      schema:
        type: integer
    id:
      name: id
      description: Authorization id
      in: path
      required: true
      schema:
        type: integer
    client_id:
      description: Client id
      name: client_id
      in: query
      required: true
      schema:
        type: integer
    start_date:
      name: start_date
      in: query
      description: Authorization start date
      required: true
      schema:
        type: string
    end_date:
      name: end_date
      in: query
      description: Authorization end date
      required: true
      schema:
        type: string
    sort_order:
      description: Specifies if the field is sorted in ascending or descending order
      name: sort_order
      in: query
      schema:
        type: string
        enum:
          - asc
          - desc
        default: asc
    authorization_number:
      name: authorization_number
      in: query
      description: Authorization Number
      schema:
        type: string
    service_ids:
      name: service_ids
      in: query
      description: Services IDs
      required: true
      style: form
      explode: false
      schema:
        type: array
        items:
          type: integer
    billcode_ids:
      name: billcode_ids
      in: query
      description: BillCode IDs
      required: true
      style: form
      explode: false
      schema:
        type: array
        items:
          type: integer
    payor_id:
      name: payor_id
      in: query
      description: Payor (funder) id
      schema:
        type: integer
    payor_id_type:
      name: payor_id_type
      in: query
      description: Description of Payor (client, funder, contact)
      schema:
        type: string
    member_number:
      name: member_number
      in: query
      description: Member id
      schema:
        type: string
    program_id:
      name: program_id
      in: query
      description: Id of the program
      schema:
        type: string
    case_manager_name:
      name: case_manager_name
      in: query
      description: Name of the case manager
      schema:
        type: string
    case_manager_phone:
      name: case_manager_phone
      in: query
      description: Phone of the case manager
      schema:
        type: string
    case_manager_fax:
      name: case_manager_fax
      in: query
      description: Fax of the case manager
      schema:
        type: string
    case_manager_email:
      name: case_manager_email
      in: query
      description: Email of the case manager
      schema:
        type: string
    notes:
      name: notes
      in: query
      description: Notes
      schema:
        type: string
    rule_type:
      name: rule_type
      in: query
      description: Type of Authorization rule
      schema:
        type: string
        enum:
        - HOURS
        - VISITS
        - RATE
      example: RATE
    rule_daily:
      name: rule_daily
      in: query
      description: Authorization limit-Daily
      schema:
        type: number
    rule_weekly:
      name: rule_weekly
      in: query
      description: Authorization limit-Weekly
      schema:
        type: number
    rule_monthly:
      name: rule_monthly
      in: query
      description: Authorization limit-Monthly
      schema:
        type: number
    rule_period:
      name: rule_period
      in: query
      description: Authorization limit-Period
      schema:
        type: number
    rule_monday:
      name: rule_monday
      in: query
      description: Authorization limit-Monday
      schema:
        type: number
    rule_tuesday:
      name: rule_tuesday
      in: query
      description: Authorization limit-Tuesday
      schema:
        type: number
    rule_wednesday:
      name: rule_wednesday
      in: query
      description: Authorization limit-Wednesday
      schema:
        type: number
    rule_thursday:
      name: rule_thursday
      in: query
      description: Authorization limit-Thursday
      schema:
        type: number
    rule_friday:
      name: rule_friday
      in: query
      description: Authorization limit-Friday
      schema:
        type: number
    rule_saturday:
      name: rule_saturday
      in: query
      description: Authorization limit-Saturday
      schema:
        type: number
    rule_sunday:
      name: rule_sunday
      in: query
      description: Authorization limit-Sunday
      schema:
        type: number
    methodology:
      name: methodology
      in: query
      description: Type of Authorization rule
      schema:
        type: string
        enum:
         - payor
         - payor_bill_code
         - payor_service
         - service
    state_type_id:
      name: state_type_id
      in: query
      description: State Type id
      schema:
        type: integer
    first_day_of_week:
      name: first_day_of_week
      in: query
      description: Start of week to be used for weekly limits (0 (MONDAY) - 6 (SUNDAY))
      schema:
        type: integer
    is_code_42:
      name: is_code_42
      in: query
      description: Indicates that code 42 needs to be sent
      schema:
        type: boolean
  responses:
    ErrorResponseAuthentication:
      description: Authorization required
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/AuthenticationResponse"
    ErrorResponseAccessDenied:
      description: Access denied
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/AccessDenied"
    NotFoundAuthorization:
      description: Client Authorization not found
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/NotFound"
    NoAuthorizationSpecified:
      description: No authorization specified
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/NotFound"
    InvalidAuthorization:
      description: The status of specified authorization is invalid
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/Invalid"
    ConflictAuthorizations:
      description: Authorization overlaps with another authorization
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/Conflict"
  schemas:
    Branch:
      description: Branch the account belongs to
      type: object
      properties:
        id:
          type: integer
          description: Branch id
          example: 1000
        name:
          type: string
          description: Name of the branch
          example: HQ
    StateType:
      description: State Type
      type: object
      properties:
        state_type_id:
          type: integer
          description: State Type id
          example: 1
        name:
          type: string
          description: State Type name
          example: stn
        is_enabled:
          type: boolean
          description: State Type is enabled
          default: false
          example: false
        branch:
          $ref: "#/components/schemas/Branch"
      required:
        - state_type_id
        - name
    Authorization:
      description: Client Authorization
      type: object
      properties:
        id:
          type: integer
          description: Id of the Authorization
          example: 1
        client_id:
          type: integer
          description: Client id
          example: 123
        start_date:
          type: string
          description: Authorization end date
          example: 2020-06-17T00:00:00+00:00
        end_date:
          type: string
          description: Authorization end date
          example: 2020-06-19T00:00:00+00:00
        authorization_number:
          type: string
          description: Authorization number
          example: AU7
        services:
          type: array
          items:
            $ref: "#/components/schemas/Service"
        billcodes:
          type: array
          items:
            $ref: "#/components/schemas/BillCode"
        payor_id:
          type: integer
          description: Payor (funder) id
          example: 23
        payor_id_type:
          type: string
          description: Description of Payor
          example: FUNDER
        member_number:
          type: string
          description: Member id
          example: AL1001
        program_id:
          type: string
          description: Id of the program
          example: P001
        case_manager_name:
          type: string
          description: Name of the case manager
          example: John
        case_manager_phone:
          type: string
          description: Phone of the case manager
          example: 416-900-8764
        case_manager_fax:
          type: string
          description: Fax of the case manager
          example: 416-900-8765
        case_manager_email:
          type: string
          description: Email of the case manager
          example: john@tenant.com
        notes:
          type: string
          description: Notes
          example: Bla-bla-bla
        rule_type:
          type: string
          description: Type of Authorization rule
          enum:
            - VISITS
            - HOURS
            - RATE
          example: Hours
        rule_daily:
          type: number
          description: Authorization limit-Daily
          example: 10.2
        rule_weekly:
          type: number
          description: Authorization limit-Weekly
          example: 10.2
        rule_monthly:
          type: number
          description: Authorization limit-Monthly
          example: 10.2
        rule_period:
          type: number
          description: Authorization limit-Period
          example: 10.2
        rule_monday:
          type: number
          description: Authorization limit-Monday
          example: 10.2
        rule_tuesday:
          type: number
          description: Authorization limit-Tuesday
          example: 10.2
        rule_wednesday:
          type: number
          description: Authorization limit-Wednesday
          example: 10.2
        rule_thursday:
          type: number
          description: Authorization limit-Thursday
          example: 10.2
        rule_friday:
          type: number
          description: Authorization limit-Friday
          example: 10.2
        rule_saturday:
          type: number
          description: Authorization limit-Saturday
          example: 10.2
        rule_sunday:
          type: number
          description: Authorization limit-Sunday
          example: 10.2
        methodology:
          type: string
          description: Type of Authorization methodology
          example: payor
        state_type_id:
          type: integer
          description: State Type id
          example: 1
        state_type:
          $ref: "#/components/schemas/StateType"
        first_day_of_week:
          type: integer
          description: Start of week to be used for weekly limits (0 (MONDAY) - 6 (SUNDAY))
          example: 4
        is_over_utilized:
          type: boolean
          description: Indicates if any associated usages are over utilized
          example: true
        is_code_42:
          type: boolean
          description: Indicates that code 42 needs to be sent
          example: true
      required:
        - start_date
        - end_date
        - methodology
    AuthorizationList:
      description: Paginated list of Authorizations
      type: object
      properties:
        count:
          type: integer
          description: Number of items in the response
          example: 1
        page:
          type: integer
          description: Current page number
          example: 1
        total_pages:
          type: integer
          description: Total number of pages available
          example: 1
        items:
          type: array
          items:
            $ref: "#/components/schemas/Authorization"
      required:
        - items
    Service:
      type: object
      properties:
        id:
          type: integer
          example: 1
        name:
          type: string
          example: Bla-bla-bla
    BillCode:
      type: object
      properties:
        id:
          type: integer
          example: 1
        name:
          type: string
          example: FunderCode | Funder name
    AccessDenied:
      description: ACL 'View Client Authorizations' off
      type: object
      properties:
        code:
          type: integer
          description: Access denied
          example: 403
        message:
          type: string
          example: You do not have the required permissions to perform this action
    AuthenticationResponse:
      description: 401 Unauthorized
      type: object
      properties:
        code:
          type: integer
          example: 401
          description: 401 Unauthorized
    NotFound:
      description: 404 Not Found
      type: object
      properties:
        code:
          type: integer
          example: 404
          description: 404 Not Found
    Invalid:
      description: 400 Invalid authorization
      type: object
      properties:
        code:
          type: integer
          example: 400
          description: 400 Invalid authorization
    Conflict:
      description: 409 Authorizations conflict
      type: object
      properties:
        code:
          type: integer
          example: 409
          description: Authorizations conflict
        message:
          type: string
          example: Authorization overlaps with another authorization that has the same
            payor and uses one or more of the selected services in a different
            service combination.
